// define mixins
@function pxtorem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin btn-reset {
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
}

// breakpoints
$breakpoints: (
  small: 420px,
  medium: 769px,
  large: 1025px,
  xlarge: 1241px
);

@mixin breakpoint ($breakpoint, $direction) {
  //Get breakpoint value.
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @if $direction == max {
    @media (max-width: ($breakpoint-value - 1)) {
      @content
    }
  }
};

// start styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  ol,
  ul {
    list-style-type: none;
  }

  .sr-only {
    visibility: hidden;
  }
}

// general styles------------------------------------
body {
  padding: pxtorem(5);
  font-family: monospace; //TODO
}
header {
  position: relative;
  width: 100%;
  //TODO: Add font-family

  a {
    text-decoration: none;

    &:hover {
      cursor: pointer;
    }

    :visited {
     color: blue;
    }
  }

  ul {
    position: fixed;
    font-weight: lighter;
    color: blue;
  }
}
button {
  @include btn-reset
}
// specific styles index.html ------------------------------------
.hero__message {
  font-size: pxtorem(100);
  white-space: nowrap;
  color: lightpink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;

  @include breakpoint (medium, max) {
    font-size: pxtorem(70);
  }
}

main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  background-attachment: fixed;

  @media screen and(max-width: 767px) {
    display: block;
    background-size: 100%;
  }
}

  .hero__image {
    text-align: center;
    margin: auto;
     //TODO: kleinere image varianten

     @include breakpoint (medium, max) {
       width: pxtorem(400);
     }

    @include breakpoint (small, max) {
      width: pxtorem(300);
      
    }
  }

  section {
  width: 100%;
  margin: auto;
  padding: 50px;

  @include breakpoint (medium, max) {
    padding: 0;
  }
}

.text {
  height: 100vh;
  max-width: 70%;
  margin: pxtorem(20) auto;

  p, .projects__intro {
    display: inline-block;
    font-size: pxtorem(20);
    padding-bottom: pxtorem(20);

    @include breakpoint (medium, max){
      padding-bottom: pxtorem(20);
      font-size: pxtorem(18);
    }

    &::selection {
      color: yellow;
      background-color: blue;
    }
  }

  .main__intro p:last-of-type {
    margin-bottom: pxtorem(450);

    @include breakpoint (medium, max) {
      padding-bottom: pxtorem(300);
    }

    @include breakpoint (small, max) {
    padding-bottom: pxtorem(300);
    }
  }


  // flowers
  .flower__left, .flower__right {
    max-width: 650px;
    position: fixed;
    bottom: 20%;

    @include breakpoint (large, max) {
      max-width: pxtorem(550);
    }
  }

  //flower right
  .flower__right, .flower__top {
    // background-color: green;
    right: 5%;
    transform: rotateY(180deg);

    @include breakpoint (medium, max) {
      bottom: 0;
      left: -5%;
      width: pxtorem(400);
      z-index: -1;
    }
  }

  // flower left
  .flower__left, .flower__bottom {
    left: 5%;

    @include breakpoint (medium, max) {
      width: 50%;
      right: -5%;
      left: auto;
      top: 20%;
      z-index: -1; 
    }
  }
} 

.spacer {
  height: 300px;
  width: auto;
}

// styles projects.html------------------------------------
@keyframes falling {
  0% {top: -20%;}
  25% {top: 25%;}
  50% {bottom: 50%;}
  75% {bottom: 25%;}
  100% {bottom: -10%;}
}

.flower__background {
  margin-top: pxtorem(50);
  display: flex;
  justify-content: center;

  img {
    height: pxtorem(40);
    transform: rotate(61deg);
    // position: absolute;
    // animation-name: falling;
    // animation-duration: 8s;
    // animation-iteration-count: infinite;
    // animation-timing-function: linear;
    
  }
}

// toggle flower background
.is-hidden.flower__background {
  visibility: hidden;
}

.projects__overview {
  margin-top: pxtorem(120);
}

// text
.projects__overview {
  h2 {
    margin-bottom: pxtorem(10);
  }
  p.projects__intro {
    padding-bottom: pxtorem(20);
  }
}

//projects toggle list
.projects__list {
  font-size: larger;
}

details[open] {
  padding-bottom: pxtorem(5);
  summary {
    background-color: yellow;
    margin-bottom: pxtorem(7);
  }
  a {
    display: block;
  }
}

// cv.html ------------------------------------

main#cv {
  .text.cv__overview {
    margin-top: pxtorem(120);
  }
}




